{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <div class="index">
            {% if listing.image %}
                <img  src="{{listing.image.url}}" alt="{{listing.title}}" >
            {% else %}
                <img  class="index" src= "/media/images/default.jpg" alt="Default Image"  >
            {% endif %}
            <p>
                <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a><br>
                <b>{{ listing.price }}</b>
            </p>
        </div>
    
        {% empty %}
            <h3>No listings available.</h3>

    {% endfor %}

    
{% endblock %}