{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <div>
            {% if listing.image %} 
                <img src= "{{listing.image.url}}" alt="{{listing.title}}" style="max-height:300px; max-width: 300px;">
            {% else %}
                <img src= "/media/images/default.jpg" alt="Default Image" style="max-height:300px; max-width: 300px;">
            {% endif %}
           <a href="{% url 'listing' listing.id %}">{{listing.id}}: {{ listing.title }}, {{ listing.price }}</a>
        </div>
    
        {% empty %}
            <h3>No listings available.</h3>

    {% endfor %}

    
{% endblock %}