{% extends "auctions/layout.html" %}
{%block title %} Active Listings {% endblock %}
{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <div class="index">
            {% if listing.image %}
                <img  src="{{listing.image.url}}" alt="{{listing.title}}" >
            {% else %}
                <img  class="index" src= "/media/images/default.jpg" alt="Default Image"  >
            {% endif %}
            <span>
                <a href="{% url 'listing' listing.id %}"><span style="font-size: xx-large;">{{ listing.title }}</span></a><br>
                <b>£{{ listing.price }}</b><br>
                <span style="margin-top: 2em; font-size: small; color: darkgray;">Created on {{ listing.date_time }}</span>
            </span>
        </div>
    
        {% empty %}
            <h3>No listings available.</h3>

    {% endfor %}

    
{% endblock %}