{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{%block title %} Listing: {{ listing.title }} {% endblock %}
{% block body%}

<!-- Listing closing -->
{% if user.id == listing.created_by.id and not listing.closed %}
    <div class="w3-container">
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <button class="w3-button w3-red" type="submit" name="close_listing" value="">Close listing</button>
        </form>
    </div>
{% elif listing.closed %}
    <div class="w3-container">    
        <h4 style="color: red; font-weight:1000;">Listing is closed</h4>
    </div>
{% endif %}

<!-- Winner announcement -->
{% if not auction_winner is None and user.id == auction_winner.id %}
    <div class="w3-container">
        <h4 style="color: green;font-weight:bold;">Congratulations, you won the auction!</h4>
    </div>
{% endif %}

<!-- Listing title, image and details -->
<div class=" w3-container" style="margin-bottom: 2em;">
    <h2> Listing: {{ listing.title }} </h2>
    <div class="w3-display-container">
        {% if listing.image %} 
            <img class="listing" src= "{{listing.image.url}}" alt="{{listing.title}}" class="img_listing">
        {% else %}
            <img class="listing" src= "/media/images/default.jpg" alt="Default Image" class="img_listing">
        {% endif %}
        {% if user.is_authenticated %}
        <div id="watchlist_btn" class=" w3-display-topright w3-text-white w3-mobile" style="padding:0px 10px; ">
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <button class="w3-button w3-blue w3-round-xxlarge" type="submit" name= {{ wishlist_form_name }} value="wishlist" >{{ wishlist_form_text }}</button>
            </form> 
        </div>
        {% endif %}   
    </div>
    <div class="w3-panel w3-border w3-round-xlarge" style="padding:1%">
        <p>Description:<br>
        {{ listing.description }}</p>
    </div>
    <div style="margin-bottom: 2em;">
        <h2>£{{ listing.price }}</h2>
    </div>
    <div>
        <h3>Details:</h3>
        <ul>
            <li>Listed by: <span style="color:blue;">{{listing.created_by}}</span></li>
            <li><b>{{listing.interested_users.count }}</b> interested user(s)</li>
            {% if not listing.bids.first is None%}
                <li>Max bid: <b>£{{listing.bids.first}}</b></li>
            {% else %}
                <li>No bids placed</li>
            {%endif%}
            <li>Created on: {{listing.date_time}}</li>
        </ul>
    </div>
    <div>
        <h5>Category:</h5>
        {% if listing.category %}
            <div class="w3-bar">
                <form action="{% url 'category' listing.category %}" method="POST">
                    {% csrf_token %}
                    <button class="w3-bar-item w3-button w3-small w3-padding-small w3-teal w3-border w3-hover-teal">{{listing.category}}</button>
                </form>
            </div>
        {% else %}
            None.
        {% endif %}
    </div>
</div>

<!-- Adding bid -->
{% if not listing.closed and user.is_authenticated %}
    <div class="w3-container" style="margin-bottom: 3em;">
        {% if bid_error is not none %}
            <span style="color: red;">{{ bid_error }}</span>
        {% endif %}

        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <div class="row">
            <div class="col-md-3">{{ bid_form|crispy }}</div>
            </div>

            <button type="submit" name="add_bid" value="bid" class="w3-button w3-green w3-padding-medium w3-medium w3-round-large">Place Bid</button>
        </form>
    </div>
{% endif %}

<!-- Adding comment -->
{% if user.is_authenticated %}
    <div class="w3-container" style="margin-bottom: 3em;">
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-9">{{ comment_form|crispy }}</div>
                </div>
            <button type="submit" name="add_comment" value="comment" class="w3-button w3-green w3-padding-medium w3-medium w3-round-large">Add Comment</button>
        </form>
    </div>
{% endif %}

<!-- Viewing bids -->
<div class="w3-container" style="margin-bottom: 1em;">
    <button class="w3-button w3-large w3-blue-grey" onclick="document.getElementById('id01').style.display='block'" >Show Bids</button>
    <div id="id01" class="w3-panel w3-light-gray w3-display-container" style="display:none; width: 20%;">
        <span onclick="this.parentElement.style.display='none'"
        class="w3-button w3-small w3-padding-small w3-red w3-display-topright">x</span>
        {% for bid in bids %}
            <p>{{bid.bid}}</p>
        {% empty %}
            <p>No bids.</p>
        {%endfor%}
    </div>
</div>

<!-- Viewing comments -->
<div class="w3-container" >
    <button class="w3-button w3-large w3-blue" onclick="document.getElementById('id02').style.display='block'" style="margin-bottom: 2em;">Show Comments</button>
    <div id="id02" class="w3-display-container" style="display:none; width: 65%;">
        <span onclick="this.parentElement.style.display='none'"
        class="w3-button w3-small w3-padding-small w3-red w3-display-topright">x</span>
        {% for comment in comments %}
            <div class="w3-panel w3-border-left w3-border-blue">
                <p>{{comment.comment}}</p>
            </div>
        {% empty %}
            <div class="w3-panel w3-border-left w3-border-blue">
                <p>No comments have been added.</p>
            </div>
        {%endfor%}
    </div>
</div>


{% endblock %}