{% extends "auctions/layout.html" %}

{% block body%}
{% if listing %}
<div>
    {% if listing.image %} 
        <img src= "{{listing.image.url}}" alt="{{listing.title}}" style="max-height:300px; max-width: 300px;">
    {% else %}
        <img src= "/media/images/default.jpg" alt="Default Image" style="max-height:300px; max-width: 300px;">
    {% endif %}
    {{listing.id}}: {{ listing.title }}, {{ listing.price }}
</div>
<div>
    Bids:
    <ul>
        {% for bid in bids %}
            <li>{{bid.bid}}</li>
        {% empty %}
            <li>No bid.</li>
        {% endfor %}
    </ul>
</div>
<div>
    Comments:
    <ul>
        {% for comment in comments %}
            <li>{{comment.comment}}</li>
        {% empty %}
            <li>No comment</li>
        {% endfor %}
    </ul>
</div>
<div>
    <form action="{% url 'listing' listing.id %}" method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">Add</button>
    </form>
</div>
{% else %}
    <h3>No listing with that ID.</h3>

{% endif %}

{% endblock %}